* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 1120px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
/* bscope */
.bscop {
  text-align: center;
}
.bscop h3 {
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  color: rgb(8, 92, 126);
}
.bscop p {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: rgb(4, 21, 21);
  font-size: 14px;
}
.bscope-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: white;
  gap: 20px;
}
.bscope-item div {
  padding: 30px 30px;
  text-align: center;
  justify-content: center;
  color: rgb(10, 72, 148);
  background: rgb(221, 226, 230);
  border-radius: 20px;
  font-weight: bold;
  box-shadow: rgb(32, 59, 59);
}

.btn-wrapper {
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
}
.btn {
  background-color: rgb(95, 108, 160);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
/* bscope */

/* eed-staffing */
.need-staffing {
  margin-top: 20px;
}
.need {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: auto;
  background: rgb(119, 124, 137);
}
.need-text {
  text-align: center;
  justify-content: center;
}
.need-text h3 {
  font-weight: bold;
}
.need-text p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.need-text .btn {
  background-color: rgb(8, 92, 126);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
/*eed-staffing */

/*Partners benefits section */
.partners {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.partners-benefits h3 {
  text-transform: uppercase;
  color: rgb(12, 137, 114);
  text-align: center;
  padding: 5px 5px;
  font-size: 15px;
}

.partners-benefits p {
  text-align: center;
  padding: 5px 5px;
  color: black;
  font-size: 10px;
}
.partner-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card-item {
  border: 1px solid black;

  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

/*end Partners benefits section */

/*reasons bannnar section */
.reason-banner {
  background: rgb(95, 133, 133);

  text-align: center;
}

.reason h4 {
  font-size: 20px;
}

.reason p {
  font-size: 15px;
}

.reason-gird {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  gap: 20px;
  padding: auto 40px;
}

.reason-item {
  padding: 20px 20px;
  text-align: center;
}

.divider {
  width: 1px;
  height: 80px;
  background: white;
}
/*End reasons bannnar section */
/*Who section*/
.who-section {
  text-align: center;
  margin-top: 20px;
}

.who h3 {
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
  font-weight: bold;
}

.who h4 {
  text-align: center;
  padding: 10px;
}

.who-item {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 40px;
}

.who-text p {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin: auto 20px;
}

.who-img img {
  width: 80%;
}

/*End Who section*/

/*our vision section*/
.our-vision {
  background: white;
  display: flex;
  padding: 20px 10px;
}

.vision-text-one h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 45px;
}

.vision-text-one p {
  padding: 0 50px;
}

.vision-text-two p {
 align-items: center;
 justify-content: center;
 padding: 0 40px;
}

.vision-text-two h3 {
  text-transform: uppercase;
    padding-bottom: 10px;
  padding-left: 35px;
 
}

.v-divider {
  width: 10px;
  height: 100px;
  background: rgb(5, 104, 91);
  color: black;
  margin: auto 20px;
}

.v-btn {
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 10px;
  color: azure;
  background: rgb(8, 70, 49);
  display: block;
  margin: 20px auto;
}

/*End our vision section*/

/*our Teamsection*/
.our-team h3,
h5 {
  text-align: center;
  padding: 10px;
}

.team-item {
  padding: 10px;

}

.team-num h5,
p {
  text-align: center;
  justify-content: center;
}
.team-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.team-num {
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;

}
.team-num img {
  justify-content: center;
  width: 200px;
  border-radius: 150px;
  justify-content: space-between;
}
.team-btn {
  background: rgb(7, 57, 92);
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px 10px;
  color: aliceblue;
}

/*End our Team section*/

/*Textimonial Section*/
.testmnl-sec {
  background: gainsboro;
  padding: 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background: rgb(35, 179, 208);
  height: 20%;
}

.form-box form {
  background: rgb(31, 62, 94);
  padding: 20px 20px;
  border-radius: 5px;
  border: 1px solid blueviolet;
}

.form-box {
  background: white;
  height: auto;
}

.form-box p {
  color: rgb(84, 21, 143);
  font-size: 20px;

  height: auto;
}

input[type=text] {
  width: 60%;
  padding: 20px;
  margin: 8px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;

}

input[type=submit] {
  width: 30%;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 10px;
  background: rgb(19, 161, 190);
}

input[type=submit]:hover {
  color: white;
  background: blueviolet;

}

.form-box p {
  margin-top: 15px;
  padding: 30px;
}

.testimonial-heading {
  margin-bottom: 20px;
}

.testimonial-box {
  background: rgb(18, 118, 138);
  color: black;

}

.testimonial-wrapper {
  display: flex;
  gap: 20px;
}

.testimonial-heading {
  padding: 10px 0;
}

.testimonial-heading h3 {
  text-transform: uppercase;
  color: rgb(18, 118, 138);
  text-align: center;
  color: white;
}

.testimonial-heading h4 {
  font-size: 22px;
  color: rgb(13, 28, 142);
  text-align: center;
}

.testimonial {
  background: white;
  margin-top: 10px 5px;
  border: 2px solid black;
  box-shadow: 1px solid black;
  padding: 10px 10px;
  border-radius: 10px;
}

.testimonial h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.testimonial h3 {
  font-size: 10px;
  text-align: center;
}

.stars {
  text-align: center;
  padding: 20px;
}

.stars .checked {
  color: orange;
}

.checked:hover {
  color: rgb(110, 104, 92);
}

.testimonial p {
  font-size: 15px;
  justify-content: center;

}

/*End Textimonial section*/

/* o-partners Section*/
.o-partners-sec{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.o-partners-sec h1 {
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

.o-partners-sec p {
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 100%;
  padding: 30px 50px;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper .swiper-slide img {
  width: 160px;
  height: 80px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: rgb(134, 154, 152);
}

/*-End o-partners Section*/
/*OUR SERVICES Section*/
.service-sec {
 margin-top: 20px;
}

.service-s h3,
h1,
p {
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.service-s p {
  justify-content: center;
  text-align: center;
  font-weight: 20px;
  font-size: 12px;
  padding: 15px;
  font-family: sans-serif;
}

.service-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.service-num {
  border: 2px solid blue;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: rgb(13, 13, 166);
}

.service-num ul li {
  padding: 0 10px;
}

.sv-btn {
  color: white;
  margin-top: 20px;
  background: rgb(4, 78, 78);
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
}

.svc-btn {
  color: aliceblue;
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
  background: rgb(26, 92, 120);
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  margin: 22px auto;
}

/* End OUR SERVICES Section*/
/* Footer Section*/
.foot-sec {
  background: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2px;
}

.footer-item h3 {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.footer-item ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-item ul li {
  margin: 5px 0;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  text-align: center;
  padding: 10px;
}

.ft-btn {
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  background: rgb(40, 65, 65);
  display: inline-block;
}

.footer-address h1 {
  text-align: center;
  padding: 20px;
}

.footer-address ul {
  padding: 5px 10px;
}

.footer-address ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.footer-address ul li img {
  width: 15px;
  height: 15px;
}

.fter-f {

  display: flex;
  align-items: center;
  justify-content: center;
}

.fter-f p {
  text-align: center;
  justify-content: center;
  text-decoration: underline;
}

.fter-f img {
  width: 10px;
}
/* Footer Section*/